<div id="component-bg"></div>
<div id="all-projects" class="container-fluid d-flex">
  <div class="row m-auto w-100 p-4">
    <div class="col-10 col-md-6 col-xl-3 m-auto" style="height: 60px; background-color: blanchedalmond;">

    </div>
    <div class="col-10 col-md-6 col-xl-3 m-auto" style="height: 60px; background-color: rgb(177, 120, 34);">

    </div>
    <div class="col-10 col-md-6 col-xl-3 m-auto" style="height: 60px; background-color: rgb(96, 34, 177);">

    </div>
    <div class="col-10 col-md-6 col-xl-3 m-auto" style="height: 60px; background-color: rgb(130, 121, 141);">

    </div>
  </div>
</div>
