<div id="component-bg"></div>

<div *ngIf="mode === 'overview'" id="project-menu" class="container-fluid">
  <div class="row">
    <div class="col-8 col-sm-3 m-auto text-center py-2">
      <button mat-raised-button color="primary" (click)="changePageMode('editing')">Create project</button>
    </div>
  </div>
</div>

<div id="all-projects" class="container-fluid d-flex">
  <!-- Overview -->
  <div *ngIf="mode === 'overview' && projects.length > 0" class="row m-auto w-100 p-4">
    <div *ngFor="let project of projects" class="col-12 col-md-6 col-xl-3 m-auto">
      <div class="project-card">
        <p>{{ project.name }}</p>
        <p>{{ project.created_date }}</p>
        <p>{{ project.description }}</p>
        <p (click)="deleteProject(project._id)">DELETE</p>
      </div>
    </div>
  </div>

  <!-- Project editing -->
  <div *ngIf="mode === 'editing'" class="row m-auto w-100 p-4">
    <div  class="col-12 col-md-11 col-xl-8 m-auto"
          style="min-height: 60px; background-color: rgba(255, 255, 255, 0.952); border-radius: 3px; transition: 0.5s; box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);"
    >
      <form [formGroup]="form" enctype="multipart/form-data" class="w-100">
        <div class="col-12 text-center mt-2">
          <h3>Create Project</h3>
        </div>
        <!-- name -->
        <div class="form-row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Name">
          </mat-form-field>
        </div>
        <!-- datepicker -->
        <div class="form-row">
          <mat-form-field class="col-4" style="margin: 0 5px;">
            <mat-label>Choose a date</mat-label>
            <input formControlName="created_date" matInput [max]="dateNow" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker TouchUI #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <!-- description -->
        <div class="form-row">
          <mat-form-field appearance="fill" style="width: 100%; margin: 0 5px;">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput style="min-height: 100px;"></textarea>
          </mat-form-field>
        </div>
        <!-- pick image -->
        <div *ngIf="imagePicked.length === 0" class="form-row" style="margin: 0 5px;">
          <button color="primary" mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
          <input type="file" #filePicker multiple (change)="onImagePicked($event)" hidden>
        </div>
        <div *ngIf="imagePicked.length > 0" class="my-2" id="images-form" style="margin: 0 5px;">
          <div class="container">
            <div class="row w-100">
              <div class="col-12 col-md-6 p-1">
                <img [src]="imagePicked" class="w-100">
              </div>
              <div class="col-12 col-md-6">
                <div class="row mt-1">
                  <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Image name*</mat-label>
                    <input matInput placeholder="Image name" [(ngModel)]="imageName" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field class="col-12" appearance="outline">
                    <mat-label>Image description*</mat-label>
                    <input matInput placeholder="Image description" [(ngModel)]="imageDescription" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                </div>
                <div class="col-12 text-center">
                  <button class="m-1" mat-raised-button color="primary" (click)="addImageInForm()">Add image</button>
                  <button mat-button color="primary" class="m-1" (click)="resetNewImgForm()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Images overview -->
        <div *ngIf="formImages.value.length > 0" class="form-row my-4">
          <div *ngFor="let image of formImages.value" class="col-4">
            <img class="w-100 formImage" [src]="image.image" alt="image.title">
            <div class="d-flex deleteImgContainer">
              <div class="m-auto">
                <p style="cursor: pointer;" (click)="removeImg(image)">DELETE</p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row my-4">
          <div class="container-fluid" id="skills-container" style="margin: 0 10px;">
            <!-- Skills list -->
            <div *ngIf="skills.length > 0" class="form-row my-2">
              <h6>Skills:</h6>
              <div class="col-12">
                <mat-checkbox
                  *ngFor="let skill of skills"
                  color="primary"
                  [(ngModel)]="skill.checked"
                  [ngModelOptions]="{standalone: true}"
                  class="mx-3"
                >
                  {{skill.name}}
                </mat-checkbox>
              </div>
            </div>
            <hr>
            <div *ngIf="frameworks.length > 0" class="form-row my-2">
              <h6>Frameworks:</h6>
              <div class="col-12">
                <mat-checkbox
                  *ngFor="let fm of frameworks"
                  color="primary"
                  [(ngModel)]="fm.checked"
                  [ngModelOptions]="{standalone: true}"
                  class="mx-3"
                >
                  {{fm.name}}
                </mat-checkbox>
              </div>
            </div>
            <hr>
            <div *ngIf="platforms.length > 0" class="form-row my-2">
              <h6>Platforms:</h6>
              <div class="col-12">
                <mat-checkbox
                  *ngFor="let platform of platforms"
                  color="primary"
                  [(ngModel)]="platform.checked"
                  [ngModelOptions]="{standalone: true}"
                  class="mx-3"
                >
                  {{platform.name}}
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
        <!-- BUTTONS -->
        <div class="col-12 text-center mb-2">
          <button type="submit" class="m-1" mat-raised-button color="primary" (click)="submitForm()">Register</button>
          <button mat-button color="primary" class="btn btn-secondary m-1" type="reset" (click)="resetForm()" (click)="changePageMode('overview')">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
